* {
    box-sizing: border-box;
}

/*app에서 모든 컴포넌트에 동일한 폰트를 뿌려주고 있다.  */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    font-family: 'Comfortaa', cursive;
}

body {
    background: linear-gradient(180deg, rgba(129,55,255,0.2) 0%, rgba(254,99,139,0.2) 81%, rgba(254,102,149,0.2) 86%, rgba(255,115,194,0.2) 100%);
    min-height:100vh;
}


.App{
    background: linear-gradient(180deg, rgba(129,55,255,1) 0%, rgba(254,99,139,1) 81%, rgba(254,102,149,1) 86%, rgba(255,115,194,1) 100%);
    width: 480px;
    height: 853px;
    margin: auto;
    flex: 1; /* flex: 1 1 0 */
    overflow: auto;
    box-shadow: 10px 10px 30px 0px black;
    border-radius: 20px;
    overflow: hidden;
    position : absolute;
    left : 0px;
    right : 0px;
    bottom : 0px;
    top : 0px;
}


/*
1. body : 앱 밖의 배경
2. app : 앱화면 
*/

