.isAlarm {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 1;
    background: rgba(0,0,0,0.3);
  }
  
.isAlarm .content{
    position: fixed;
    left:50%;
    top:50%;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);
    background: rgb(44, 62, 80);
    padding: 0px;
    box-shadow: 0 0 5px #000;
    width: 400px;
    height: 530px;
    border-radius: 30px;
    opacity: 0.95;
    }


.isAlarm .content h2{
    color : white;
    text-shadow: none;
    margin-top : 130px;
    font-size:40px;
}

.isAlarm .content .alarm_cancel{
    border-radius : 30px;
    color:rgb(122, 38, 118);
    background-color: rgb(44, 62, 80);
    border : 2px solid rgb(122, 38, 118);
    font-size : 20px;
    position : relative;
    top : 350px;
    left : 95px;
}

.isAlarm .content .alarm_cancel:hover{
    background-color: rgb(122, 38, 118);
    color : white;
}
  /* 모달의 classname 이 none 일 때는 display하지 않는다. */
 

/* mission 문제, 답 css */
.isAlarm .content .mission h2 {
    color :white;
    font-size: 25px;
}

/* mission 문제css */
.isAlarm .content .mission .question {
    color :white;
    position: relative;
    top : -150px;
    left : 5px;
}

/* mission question css */
.isAlarm .content .mission p{
    color :white;
    position: relative;
    top : -145px;
    left : 5px;
}

/* mission 답 css */
.isAlarm .content .mission .answer {
    color :white;
    position: relative;
    top : -230px;
    left : 5px;
}


/* mission 답 input box css */
.isAlarm .content .mission input {
    color :rgb(122, 38, 118);
    font-size: large;
    position: relative;
    top : -230px;
    left : 5px;
}
.isAlarm .content .mission input:hover {
    box-shadow: 0 0 10px 2px rgb(255, 91, 247);
}


/* div border none*/
.isAlarm .content .mission {
    border : none;
}