.friends {
    padding : 0px;
    font-size: 20px;
}

.friends .search {
    text-align: center;
}

.friends .search input{
    width: 350px;
    font-size: 20px;
}

.friends .search button{
    font-size: 20px;
}
.friends ul {
    padding-left: 0;
}

.friends li {
    list-style-type: none;
    border : 0px solid black;
    padding : 30px;
    margin : 20px;
    box-shadow: 2px 2px 30px 0px black;
    color : black;
}