.friends {
    padding : 0px;
    font-size: 20px;
}

.friends .search {
    text-align: center;
}

.friends .search input{
    width: 350px;
    font-size: 20px;
}

.friends .search button{
    font-size: 20px;
}
.friends ul {
    padding-left: 0;
}

.friends li {
    list-style-type: none;
    border : 0px solid black;
    padding : 30px;
    margin : 20px;
    box-shadow: 2px 2px 30px 0px black;
    color : black;
}



/* 스크롤 바 css*/


.searchList{
    width: 470px;
  height: 700px;
  overflow: auto;
}

.searchList::-webkit-scrollbar {
    width: 12px;
  }
  .searchList::-webkit-scrollbar-thumb {
    background-color: rebeccapurple;
    border-radius: 10px;
  }
  .searchList::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }


  label{
    position: relative;
    display: inline-block;
    width: 58px;
    height: 27px;
    left :260px;
    top : -5px;
  } 

  .follow {
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 5.5px;
    background-color: rgb(94, 152, 240);
    transition: .1s;
    border-radius: 34px;
    color : black;
    font-size: 15px;
    text-align: center;
    width : 75px;
    height: 30px;
    padding : 5px;
  } 

  .unfollow {
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 5.5px;
    background-color: rgb(116, 106, 106);
    transition: .1s;
    border-radius: 34px;
    color : black;
    font-size: 15px;
    text-align: center;
    width : 75px;
    height: 30px;
    padding : 5px;
    color : rgb(255, 255, 255)
  } 

/* photo css */

.photo {
  width : 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  left : -40px;
}

.nickname {

  position: relative;
  left : 0px;
  top : -12px;
}

  
.friends ul{
  width: 470px;
  height: 700px;
  overflow: auto;
}

.friends ul::-webkit-scrollbar {
    width: 12px;
  }
  .friends ul::-webkit-scrollbar-thumb {
    background-color: rebeccapurple;
    border-radius: 10px;
  }
  .friends ul::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }


  