.home {
    padding : 0px;
    font-size: 20px;
}

.home ul {
    padding-left: 0;
}

.home li {
    list-style-type: none;
    border : 0px solid black;
    padding : 30px;
    margin : 20px;
    box-shadow: 2px 2px 30px 0px black;
    color : black;
}