/* profile 박스 css 담당 */
.MyPage_profile {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    margin: auto;
    align-items: top;
}

/* 프로필 이미지 css 담당 */
.MyPage_profile img {
    border: 1px solid rgb(60, 60, 60);
    border-radius: 50%;
    width: 120px;
    margin: 20px;
}

/* 닉네임 css 담당 */
.MyPage_nickname {
    margin: auto;
}

/* 모달창 css 담당 */
.MyPage_profile .photoModal {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 1;
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.MyPage_profile .photoModal .content{
    position: fixed;
    left:50%;
    top:50%;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);
    background:#fff;
    padding: 0px;
    box-shadow: 0 0 5px #000;
    width: 400px;
    height: 530px;
}


.content form button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 0px;
    width : 200px; 
    height: 70px; 
}
  
.none{
    display : none;
}

/* feed css 담당 */
.MyPage_feed {
    padding : 0px;
    font-size: 20px;
}

.MyPage_feed ul {
    padding-left: 0;
}

.MyPage_feed li {
    list-style-type: none;
    border : 0px solid black;
    padding : 30px;
    margin : 20px;
    box-shadow: 2px 2px 30px 0px black;
    color : black;
}