

/* signin에서 email, password 입력, 버튼들의 정렬담당*/

.Signin_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* email, password 입력 박스 담당*/
.Signin_input input{
    border: none;
    border-radius: 20px;
    margin: 5px;
    display: block;
    width: 300px;
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* 
input::placeholder{
    padding-left: 20px;
} 
지워도 끼치는 영향 없음. 
*/ 

/*button css 담당  */
.Signin_input button{
    background-color: #be99fe;
    border-radius: 20px;
    margin: 8px;
    padding: 0 10px;
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*소셜로그인 링크 css 담당 */
a {
    color: black;
    text-decoration: none;
}