@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
*{
    font-family: 'Comfortaa', cursive;
}
.Signup {
    flex: 1; /* flex: 1 1 0 */
    overflow: auto;
    margin: auto;
}
h2 {
    text-align: center;
    color: white; 
    font-size: 2rem;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.5);
}
.Signup_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Signup_input input{
    border: none;
    border-radius: 20px;
    margin: 5px;
    display: block;
    width: 300px;
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input::placeholder{
    padding-left: 20px;
}
.Signup_input button{
    background-color: #be99fe;
    border-radius: 20px;
    margin: 8px;
    width: 80px;
    height: 40px;
}