
/* 탭 button css */
.tabs button{
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 0px;
  width : 120px; 
  height: 60px; 
}

/* tab button에 마우스를 올려놓았을 시 적용*/

.tabs button:hover {
  background-color: #777;
}

/* absolute포지션으로 적용*/
.tabs {
  position: absolute;
  top : 801px;
}
/* tab의 className이 none일 때 = 현재 signin, signup 페이지일 때는 tab이 보이지 않는다 .*/
.none {
  display : none;
}